.block-hidden, .block{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.mobile-options{
    position: absolute;
    margin-top: -10%;
    margin-left: -10%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.mobile-options button{
    border-radius: 50%;
    background-color: #352D39;
    border: none;
    margin: 1px;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    background-color: #b1ede8;
}

.block-hidden{
    background-color: #ff6978;
}