*{margin: 0;}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffcf9;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 490px) {
  .app {
    align-items: initial;
  }
}

.game{
  width: 90%;
  height: 90%;
  max-width: 500px;
  max-height: 500px;
}